[submodule "benchmarks/modsecurity/modsecurity"]
	path = benchmarks/modsecurity/modsecurity
	url = https://github.com/owasp-modsecurity/ModSecurity.git
	ignore = untracked
[submodule "test/test_data/coreruleset"]
	path = test/test_data/coreruleset
	url = https://github.com/coreruleset/coreruleset.git
[submodule "docs/themes/hugo-theme-relearn"]
	path = docs/themes/hugo-theme-relearn
	url = https://github.com/McShelby/hugo-theme-relearn.git
