[submodule "src/parser/seclang_parser"]
	path = src/parser/seclang_parser
	url = https://github.com/coreruleset/seclang_parser.git
[submodule "test/parser/waf-conf"]
	path = test/parser/waf-conf
	url = https://git.ouryun.cn/base/waf-conf.git
